@font-face {
    font-family: "Cinzel";
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: url(../assets/external/fonts.gstatic.com/s/cinzel/v23/8vIJ7ww63mVu7gt79mT7.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.md-typeset h1, .md-typeset h2 {
    font-weight: 300;
    letter-spacing: -.01em;
    font-family: "Cinzel";
}

.md-header__topic {
    font-weight: 300;
    letter-spacing: -.01em;
    font-family: "Cinzel";
}

.md-header__topic:first-child {
  font-weight: 300;
}

.md-header--shadow {
    box-shadow: 0 0 .2rem #060eebbb,0 .2rem .4rem #0003;
    transition: transform .25s cubic-bezier(.1,.7,.1,1),box-shadow .25s;
  }

.md-nav {
    font-weight: 300;
    letter-spacing: -.01em;
    font-family: "Cinzel";
}

.md-nav__title {
  font-weight: 450;
}

[data-md-color-scheme="slate"] {
  --md-default-fg-color: hsla(var(--md-hue),15%,90%,0.82);
}

  /*
  .custom-icon {
    font-size: 64px;
  }
  */

